.container {
  padding: 15px;
}
.btnWrap {
  display: flex;
  justify-content: flex-end;
}
.cardContentLineWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.systemDatasWrap {
  display: flex;
  flex-wrap: wrap;
  div {
    margin-bottom: 15px;
  }
}
.addressContentWrap {
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 10px;
}
